body {
    background-color: #222222;
    color: white;
    overflow-x: hidden;
}

body .artist_page{ 
    font-size: 15pt;
    font-family: arial;
}

body .toolbar {
    background: black;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

body .toolbar .account {
    position: absolute;
    top: 10px;
    right: 100px;
}
body .toolbar .account a div:hover{
    background-color: rgb(31, 31, 31);
}
body .toolbar .account a{
    text-decoration: none;
}

body .toolbar .account a div{
    height: 30px;
    min-width: 10px;
    background-color: grey;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: left;
}

body .toolbar .account a div img{
    max-height: 90%;
    margin-left: 10px;
}

body .toolbar .account a div p{
    transform: translateY(30%);
    vertical-align: middle;
    padding-right: 10px;
}

 body .dropdown .btn{
    position: relative;
}

body .dropdown {
    position: absolute;
    top: 10px;
    right: 10px;
    height:40px;
}

body .dropdown > div{
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #C73798;
    display: flex;
    align-items: center;
    justify-content: center;
}

body .dropdown > div:before, body .dropdown > div:after{
    content: '';
    position: absolute;
    top: 12px;
    width: 100%;
    height: 4px;
    background-color: #FFFFFF;
}

body .dropdown > div:after{
    top: 24px;
}

body .toolbar .dropdown .dropdown-menu{
    background-color: rgb(61, 61, 61);
    border-style: solid;
    border-color: black;
    text-align: center;
    min-width:100%;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.58);
}

body .toolbar .dropdown .dropdown-menu a{
    color: white;
    display: block;
    text-decoration: none;
}

body .toolbar .dropdown .dropdown-menu a:hover{
    background-color: rgb(31, 31, 31);
}

body .toolbar .dropdown .btn{
    width: 64px;
    height: 30px;
}

body .toolbar .dropdown .btn:focus{
    box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
}

.login_page {
    overflow-x: hidden;
    overflow-y: auto;
}



.login_page button{
    background-color: #C73798;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 28px;
    border:none;
    margin-top: 10px;
}

.song_page .rate_btn{
    background-color: #C73798;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 28px;
    border:none;
    margin-top: 10px;
}

.song_page .rate_btn:hover{
    background-color: rgb(200, 100, 175);
}

.login_page button:hover{
    background-color: rgb(200, 100, 175);
}

.register, .login_redirect{
    position: relative;
    background-color: rgb(70, 50, 150);
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 28px;
    top: -10px;
    border:none;
    margin: 0 auto;
    vertical-align: middle;
}

.register a, .login_redirect a{
    height:100%;
    width:100%;
    text-decoration: none;
    border-radius: 10px;
    border: none;
}

.register a span, .login_redirect a span{
    vertical-align: middle;
}

.register a:hover, .login_redirect a:hover{
    background-color:rgba(0, 0, 0, 0);
    text-decoration: none;
}

.register:hover, .login_redirect:hover{
    background-color: rgb(105, 75, 195);
}


.login_page .home_logo {
    width: 100%;
    background-image: url("images/home_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50vw;
}

.login_page .search_box {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 30vw;
    color: white;
}

body a:link{
    color: rgb(212, 212, 212);
    background-color: transparent;
    text-decoration: none;
}

body a:hover{
    color: rgb(212, 212, 212);
    background-color: transparent;
    text-decoration: underline;
}

body a:active{
    color: rgb(212, 212, 212);
    background-color: transparent;
    text-decoration: none;
}

body a:visited{
    color: rgb(212, 212, 212);
    background-color: transparent;
    text-decoration: none;
}


body .table_head{
    width:100%;
    height: 40px;
    display: flex; 
    justify-content: space-between;
}

body .table_head div{
    height:100%;
    width:25%;
}

body .table_head div:nth-child(1) h4{
    margin-left: 20px;
}

body .table_head div:nth-child(3) h4{
    margin-right: 20px;
}

body .table_head div:nth-child(4) h4{
    margin-right: 25%;
}

body .table_head div:nth-child(3){
    text-align: right;
}

body .table_head div:nth-child(4){
    text-align: center;
}

body .tracks {
    position: relative; 
}

body .track {
    width:100%;
    height: 60px;
    border: black;
    border-style: solid;
    border-width: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: -2px;
}

body .track a{
    height:100%;
    width:100%;
    text-decoration: none;
    display: flex; 
    justify-content: space-evenly;
}

body .track div{
    height:100%;
    width:25%;
}

body .track a div:nth-child(3){
    text-align: right;
}

body .track a div:nth-child(4){
    text-align: center;
}

body .track a p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
}

body .track a div:nth-child(1) p{
    margin-left: 20px;
}

body .track a div:nth-child(3) p{
    margin-right: 20px;
}

body .track a div:nth-child(4) img{
    margin-right: 20px;
    max-width: 50%;
    max-height: 100%;
}

body .track a:hover{
    background-color: rgb(0, 0, 0);
    text-decoration: none;
}

body .search_page {
    position: absolute;
    top: 60px;
    width:100%;
}

body .album_page {
    position: absolute;
    top: 60px;
    width:100%;
}

body .artist_page {
    position: absolute;
    top: 60px;
    width:100%;
}

body .song_page {
    position: absolute;
    top: 60px;
    width:100%;
    text-align: center;
}

body .user_page {
    position: absolute;
    top: 60px;
    width:100%;
}

body .album_page h4{
    color: rgb(169, 169, 169);
    user-select: none;
}

body .album_page h4:nth-child(5){
    margin-left: 20px;
}

body .page_title {
    width: 50%;
    height:100%;
}

body .page_title h1 {
    user-select: none;
}

body .album_page h2{
    margin-left: 10px;
    user-select: none;
}

body .album_page h4:nth-child(4){
    margin-left: 10px;
}

body .album_page h4:nth-child(6){
    margin-right: 20px;
}

body .song_page .add_rating{
    display: flex;
    position: relative;
    margin: 0 auto;
    background-color: white;

    max-width: 300px;
    border-radius: 10px;
    flex-direction: row-reverse;
}

body .song_page .add_rating input{
    display: none;
}

body .song_page .add_rating label{
    display: block;
    cursor: pointer;
    width:60px;
    
}

body .song_page .add_rating label:before{
    content: '\f005';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: relative;
    display: block;
    font-size: 50px;
    color: black;
    opacity: 0.6;
}

body .song_page .add_rating label:after{
    content: '\f005';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: 0;
    opacity: 0;
    display: block;
    font-size: 50px;
    color: #C73798;
    transition: 0.1s
}

body .song_page .add_rating label:hover::after,
.song_page .add_rating label:hover ~ label::after,
.song_page .add_rating input:checked ~ label::after{
    content: '\f005';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: 0;
    opacity: 1;
    display: block;
    font-size: 50px;
    color: #C73798;
    transition: 0.1s
}

body .song_page .comments{
    margin: 0 auto;
    width: 50%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-top: 30px;
    padding-top: 10px;
}

body .album_page .comments{
    width: 50%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-top: 30px;
    padding-top: 10px;
}

body .album_page .comments .add_comment_card{
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

body .album_page .comments h4{
    margin-left: 20px;
}

body .add_comment_card{
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

body .comment_card{
    background-color: rgb(18, 0, 27);
    width: 100%;
    height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    display:flex;
}

body .comment_card .user_side{
    display: table;
    width: 30%;
    height: 100%;
    text-align: center;
}

body .comment_card .user_side a{
    display: table-cell;
    vertical-align: middle;
}

body .comment_card .comment_text{
    background-color: rgba(206, 164, 255, 0.527);
    width: 50%;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    overflow-y: auto;
    overflow-x: none;
}

body .comments input{
    background-color: #C73798;
    color: white;
    border-radius: 10px;
    width: 6ch;
    height: 28px;
    border:none;
    margin-top: 10px;
}

body .comments input:hover{
    background-color: rgb(200, 100, 175);
}

body .comments textarea{
    background-color: white;
    border-style: groove;
    border-color: black;
    border-width: 1px;
    padding:5px;
    resize: none;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    max-width: 90%;
    vertical-align: top;
}

body .comments .comment_text p{
    word-wrap: break-word;
}

body .comments .trash{
    background-image: url("images/trash.png");
    height:34px;
    width: 32px;
    background-size: contain;
    background-repeat: no-repeat;
}

body .comments .trash:hover{
    background-image: url("images/trash_hov.png");
}

body .comments a:nth-child(3){
    height:34px;
    width: 32px;
}