<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>MelodyDB - Login</title>
    <link rel="icon" type="image/png" href="../static/images/favicon_16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../static/images/favicon_32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../static/images/favicon_96.png" sizes="96x96">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css"/>
  </head>

<body class="login_page">
  <div class = "home_logo"></div>
  <div class = "search_box">
    <h1>Login</h1>
    <div class="flashes">
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
    </div>
    
    <form method="POST" action="/logins">
      <label for="uname">Username</label>
      <br>
      <input type="text" placeholder="Enter Username" name='uname' required></input>
      <br>
      <label for="psw">Password</label>
      <br>
      <input type="password" placeholder="Enter Password" name='psw' required></input>
      <br>
      <button type='submit'>Login</button>
    </form>
    <div class = "register"><a class="btn btn-primary" href="/registration"><span style = "position: relative; top: -5px;">Register</span></a></div>
    <p><a href="/guest_login">Continue as Guest</a></p>
    
  </div>

</body>
</html>